body {
    background-color: lightblue;/*asasas*/
}

h1 {
     color: white;
     text-align: left;
 }

 p {
     font-family: verdana;
     font-size: 35px;
 }

 h2 {
     font-family: verdana;
     font-size: 40px;
 }
