body {
    background-color: lightblue;/*asasas*/
}

h1 {
     color: white;
     text-align: center;
 }

 p {
     font-family: verdana;
     font-size: 30px;
 }

 h2 {
     font-family: verdana;
     font-size: 20px;
 }
